[submodule "MicroDepGraph"]
	path = MicroDepGraph
	url = https://github.com/Flemington8/MicroDepGraph

[submodule "microservices/aiopslab-applications"]
	path = microservices/aiopslab-applications
	url = https://github.com/Flemington8/aiopslab-applications

[submodule "microservices/microservices-demo"]
	path = microservices/microservices-demo
	url = https://github.com/Flemington8/microservices-demo.git

[submodule "microservices/ftgo-application"]
	path = microservices/ftgo-application
	url = https://github.com/Flemington8/ftgo-application.git

[submodule "microservices/microservices-reference-implementation"]
	path = microservices/microservices-reference-implementation
	url = https://github.com/Flemington8/microservices-reference-implementation.git

[submodule "microservices/LakesideMutual"]
	path = microservices/LakesideMutual
	url = https://github.com/Flemington8/LakesideMutual.git
